{% extends 'base.html' %}

{% load static %}

{% block content%}
<main>
  <div>
    <a href="{% url 'todolist_edit' todolist.id %}">Edit Todo List</a>
    <a href="{% url 'todolist_delete' todolist.id %}">Delete Todo List</a>
  </div>
  <h1>{{todolist.name}} Todo List</h1>
  <p>Created on {{todolist.created_on}}</p>
  <table>
    <thead>
      <th>Todo List Items</th>
      <!-- <th>Due on</th> -->
    </thead>
    <tbody>
      {% for list_item in todolist.items.all %}
      <tr>
        <td><a href="{% url 'todoitem_edit' list_item.id %}">
            {{ list_item.task }}</a></td>
        <!-- <td>{{ list_item.due_date}}</td> -->
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div>

  </div>
</main>
{% endblock content %}