{% extends 'base.html' %}

{% load static %}

{% block content%}
<main>
  <ul>
    {% for todo_list in todolist_list %}
    <a href="{% url 'todo_detail' todo_list.pk %}">{{todo_list.name}}</a>
    {% endfor %}
  </ul>


</main>
{% endblock content %}