{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'todos_list' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'todolist_new' %}">Create List</a>
        </li>
        <li>
          <a href="{% url 'todoitem_new' %}">Create a Todo Item</a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>
{% block pagination %}
{% endblock pagination %}

</html>