{% extends 'base.html' %}

{% load static %}

{% block content %}
<p>This is the EDIT todo list ITEM page</p>
<main>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="control">
      <button>Create</button>
    </div>
  </form>
</main>
{% endblock content %}